<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medication Management</title>
 <style>
  body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}


label {
  margin-bottom: 5px;
  display: block;
}

input, button {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 </style>

</head>
<body>
  <div class="container">
    <h1>Medication Entry Present</h1>
    <form action="/addmedication" method="post">
     
        <label for="name">Medicine Name:</label>
        <input type="text" id="name" name="name" required>

      
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
      
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
        <label for="time">Time:</label>
        <input type="time" id="time" name="time">
        <input type="hidden" name="type" id="type" value="one-time">
      
      <button type="submit">Add Medication</button>
    </form>
    <h2>Current Medications</h2>
    <ul id="medicationList"></ul>
  </div>
</body>
<script>
  
</script>
</html>